@import url("style3.css");

#month{
    display: inline-block;
    width: 350px;
    height: 420px;
    background-color:black;
   /* background-attachment: fixed;*/
    background-repeat: no-repeat; /* repeat-x repeat-y */
    background-position: 50px 100px;
    text-align: center;
}
[data-status="ok"]{
    color: white;

 padding-top: 10px;
}
#month{
    font-size: 20px;
}
.sbox{
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: black;
    background-position: 50px 100px;
    text-align: center;
}