.Month{
    background: black;

    height: 50px;
    width: 350px;

    font-size: 40PX;

    margin: 0px;

    color: white;

    text-align: center;
}

.dayweek1{
    background: black;

    color: white;

    height: 500px;
    width: 500px;

    font-size: 36px;

    margin: 0px;
}

.dayweek2{
    background: black;

    color: white;

    height: 500px;
    width: 500px;

    font-size: 36px;

    margin: 0px;
}


.dayweek3{
    background: black;

    color: white;

    height: 500px;
    width: 500px;

    font-size: 36px;
    
    margin: 0px;
}


.dayweek4{
    background: black;

    color: white;

    height: 500px;
    width: 500px;

    font-size: 36px;
    
    margin: 0px;
}


.dayweek5{
    background: black;

    color: white;

    height: 500px;
    width: 500px;

    font-size: 36px;
    
    margin: 0px;
}

.dayweek6{
    background: black;

    color: white;

    height: 500px;
    width: 500px;
    
    font-size: 36px;

    margin: 0px;
}


.dayweek7{
    background: black;

    color: white;

    height: 500px;
    width: 500px;

    font-size: 36px;
    
    margin: 0px;
}

#weekend{
    background: grey;

    color: white;

    height: 500px;
    width: 500px;

    font-size: 47px;
    
    margin: 0px;
}

.day{
    background: black;

    color: white;

    height: 500px;
    width: 500px;

    font-size: 47px;
    
    margin: 0px;

    text-align: center;
}

#currentday{
    background: red;

    color: white;

    height: 500px;
    width: 500px;

    font-size: 47px;
    
    margin: 0px;

    text-align: center;
}



