.clear{
    clear: both; /* left right none */
}

.calendar{
    width: 350px;
    background: gray;
}

.calendar-title{
    text-align: center;
    padding: 25px 0;
    background: black;
    color: white;
    font-size: 24px;
}



.calendarWeekItemBlack{
    float: left;
    width: 50px;
    height: 40px;
    text-align: center;
    padding: 5px 0;
    background: rgb(15, 14, 14);
    color: white;
}

.calendarWeekItemWhite{
    float: left;
    width: 50px;
    height: 40px;
    text-align: center;
    padding: 5px 0;
    background: white;
}

.calendarDay{
    float: left;
    width: 50px;
    height: 40px;
    text-align: center;
    padding: 5px 0;
}

.calendarDay.Weekend{
    background: rgb(92, 90, 94);
}

.calendarDay.current{
    color: white;
    background: red;
}

.calendarDay.Lastmonth{
    background: lightgray;
}