.bg{
    background: green url("background.jpg") no-repeat 100px 200px/contain;

    height: 300px;
    width: 300px;

    background-position: 50% 50%;
    background-position: center center;

    background-size: contain;
    background-size: cover;

    color: WHITE;

    /*Жирность шрифта*/

    font-weight: bold; /*thin light medium bold black*/
    font-weight: 300; /* жирность может иметь значениие 100 - 900 */  

    font-size: 40PX;

    font-style: italic;

    color: #008000; /*каждый цвет имеет свой индивидуальный номер*/

    /* 255 = ff */

    color: rgb(0,0,0);

    color: rgba(0,0,0, 0.5);

    color: hsla(120% 100% 25% 0)
}

.parent{
    font-size: 30px;
    padding-bottom: 20px;
}

.children{
    font-size: 2em; /* 60px */
    padding-bottom: inherit;
}

.children-children{
    font-size: 1.5em; /* 90px */

    font-size: 2rem; /* 32px */
}

.screen{
    height: 100vh;
    width: 80vw;
    background: blue;
    font-size: 20px!important;

    color: red;
}

div{

}

div.screen{
    color: white;
}

div.screen#.first#good{

}
/*
    Вес тега=1
    Вес класса=10
    Вес id =100
*/