.Punkt1{
    background: grey;

    height: 50px;
    width: 150px;

    font-size: 40PX;

    margin: 10px;
}

.Punkt2{
    background: grey;

    height: 50px;
    width: 150px;

    font-size: 40PX;

    margin: 10px;
}

.Punkt3{
    background: grey;

    height: 50px;
    width: 150px;

    font-size: 40PX;

    margin: 10px;
}

.Punkt4{
    background: grey;

    height: 50px;
    width: 150px;

    font-size: 40PX;

    margin: 10px;
}

.Punkt5{
    background: grey;

    height: 50px;
    width: 150px;

    font-size: 40PX;

    margin: 10px;
}