
.Kreml{
    background-image: url("kreml.jpg");
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    position: absolute;
    bottom: 0px;
    
}

.WhiteHouse{
    background: url('WhiteHouse.jpg');
    height: 100px;
    width: 100px;
}