                                     /* Работа с текстом */

.text{
    text-align: justify;
    /*
      justify - выравнивает текст, распредиляя слова, прижимая к края родителя
    */

    text-align-last: justify;
    
    /* Влияет на последнюю строку в тексте */

    text-transform: uppercase;
    /*
     Uppercase - делает все буквы в словах заглавными
     lowecase - делает все буквы прописными
     capitalize - все первые буквы делает прописными
     */

     white-space: nowrap;

    /*
      nowrap - запрещает перенос слов
      pre - пробелы в тексте не игнорируются, браузер отображает все переносы и пробелы
      pre-wrap - сохраняет пробелы в тексте, делая разрывы строк там где необходимо
      pre-line - удаляет все лишние пробелы, за исключением br

    */

    word-break: break-all;

    /*
      break-all - начинают работать переносы слов и переносы слов не применяются
      keep-all - запрещает разрывы между парами символов
    */


}

.calc{
    background: red;
    height: 50px;

    width: calc(50% + 100px);

    /*
        Поддерживает + - * /
        также можно применять ()
        До и после знака нужно ставить один пробел
    */
}