.kartina{
    background-image: url("doroga.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%
    
}

.Kreml{
    background-image: url("kreml.jpg");
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
   
    
}